body{
    font-family: 'Roboto';
    font-style: normal;
    color:#212121;
}


.container{
   min-width: 1200px;
   
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.page-header{
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    min-height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.first-letters {
    color: #2196F3;
}
.logo-header {
    text-decoration: none;
    color:#212121;
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    
}
.list-menu{
    list-style: none;
    display: flex;
    
}
.header-menu {
    text-decoration: none;
    color: #212121;
    width: 53px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 46px;
}
.header-menu:hover {
    color:#2196F3;
    text-decoration: none;
}
.header-menu:focus{
    color:#2196F3;
    text-decoration: none;
}
.contact{
    margin-left: 50px;
}
.e-mail{
    text-decoration: none;
    color: #757575;
    width: 135px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.e-mail:hover{
    color:#2196F3;
}
.phone-number{
    text-decoration: none;
    color: #757575;
    width: 110px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.phone-number:hover{
    color:#2196F3;
}
.filtr-button{
    list-style-type: none;
    display: flex;  
    justify-content: center;
    }
.filtr{
    background-color:#F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    margin-left: 8px;
    }


.filtr:hover{
    background-color:#2196F3;
    color:  #FFFFFF;
    }
.filtr:focus{
    background-color:#2196F3;
    color:  #FFFFFF;
    }
.filtr1{
    width: 121px;
    height: 38px;
    }
.filtr2{
    width: 93px;
    height: 38px;
    }
.filtr3{
    width: 114px;
    height: 38px;
    }
.filtr4{
    width: 91px;
    height: 38px;
    }
.filtr5{
    width: 121px;
    height: 38px;
    }

.project-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
}

.product{
    margin-left: 10px;
    margin-top: 10px;
    flex-basis: calc((100% - 30px) / 3);
}
.project{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 370px;
    height: 404px;
}
.project-name{
    width: 322px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    }
.filtr-name{
    color: #757575;
    width: 322px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    }
.footer{
    background-color:  #2F303A;
    min-height: 252px;
    display: flex;
    flex-direction: column;
    }

.logo-footer{
    text-decoration: none;
    color: black;
    width: 145px;
    height: 31px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.last-letters{
    color: #FFFFFF;
    }
.address{
    color: #FFFFFF;
    width: 247px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    }
.e-mail-footer{
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    }
.phone-number-footer{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    width: 231px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    }

    /* CSS styles for the studio website */
.service-section{
    background: #2F303A;
    min-height: 600px;
    }

.main-title{
    color: #FFFFFF;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    }

.order-button{
    /*botton*/
    background: #2196F3;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    /*text in botton*/
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color:#FFFFFF;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    }


.lorem-list{
    list-style-type: none;
    display: flex;

}
.title{
    width: 270px;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text{
    height: 75px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.profession{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.photo-profession{
    list-style-type: none;
    mix-blend-mode: normal;
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
    
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-section{
    background: #F5F4FA;
    min-height: 648px;
}
.team{
    list-style: none;
    display: flex;
}
.person{
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
}
.name{
    width: 72px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.position{
    width: 130px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}